<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ASC HISTORY-NewVics</title>
    @Styles.Render("~/assets/bootstrap/css/bootstrap.min.css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    @Styles.Render("~/assets/fonts/font-awesome.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    @Styles.Render("~/assets/css/Highlight-Clean.css")
    @Styles.Render("~/assets/css/NMDIGbanner.css")
    @Styles.Render("~/assets/css/Team-Boxed.css")
    @Styles.Render("~/assets/css/styles.css")
    @Styles.Render("~/assets/css/video-background.css")
    @Styles.Render("~/Content/semantic.css")
    @Styles.Render("~/Content/semantic.min.css")

    <style>
        .avatar {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto;
            border-radius: 120px;
            margin-bottom: 30px
        }

        iframe {
            width: 100%;
            height: 338px;
            border: none;
            overflow: hidden;
        }

        .footer {
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #2c3e50;
            color: #fff
        }
    </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Main")"><i class="home icon"></i>NewVics</a>
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                    type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Sports", "Main")">Sports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Ranks")">Footy</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Cricket", "Main")">Cricket</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Basketball", "Main")">Basketball</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Tennis", "Main")">Tennis</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="start" class="clean-block" style="margin-bottom:0px;margin-top:0px;padding-bottom:2%;padding-bottom:1%;background-color:ghostwhite">
        <div class="container" style="padding-top:2%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:coral">School Championships</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12" style="text-align:left;padding-bottom:2%">
                <p style="font-family:Calibri;font-size:large">The Australian Schools Championships (formerly known as the National School Basketball Tournament) first began in Sydney in 1983. In the tournament's first year, Templestowe High School won both the Men's and Women's Championship Divisions.</p>
                <p style="font-family:Calibri;font-size:large">Twenty-five years on, in 2008 a record number of teams nominated for the championship and over 1,300 young athletes represented 145 school teams from seven States and Territories at the Championship. Hosted by the Newcastle Basketball Association in conjunction with Basketball Australia and Basketball NSW, the athletes competed across 19 Junior and Senior, Male and Female divisions, with the winners crowned as the best school basketball team in their division in the country.</p>
                <p style="font-family:Calibri;font-size:large">The tournament now runs in the first week of December each year with three age groups; Senior (19 & Under), Junior (17 & under) and Freshman (15 & Under). The top senior team from each state competes in the Championship Division for the ultimate title.</p>
                <p style="font-family:Calibri;font-size:large">
                    More information:
                    <a href="https://australia.basketball/championships/asc/" target="_blank">https://australia.basketball/championships/asc/</a>
                </p>
            </div>
        </div>
        <div calss="container" style="margin:0px;padding-top:0.5%">
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl sr-button" role="button" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true" href="@Url.Action("Basketball", "Main")#start">Go Back</a>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>Monash University<br>Caulfield East, Vic 3145</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Us</h4>
                    <p class="lead mb-0"><span><a href="https://mahara.infotech.monash.edu.au/mahara/view/view.php?id=28236" target="_blank">D-Voyagers.&nbsp;</a></span></p>
                </div>
            </div>
        </div>
        <p>&copy; @DateTime.Now.Year - Newvics</p>
    </footer>
    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/bootstrap/js/bootstrap.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    @Scripts.Render("~/assets/js/bs-animation.js")
    @*@Scripts.Render("~/resource/js/agency.js")*@
    @*@Scripts.Render("~/Scripts/semantic.js")
        @Scripts.Render("~/Scripts/semantic.min.js")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
</body>
</html>