<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Footy-Newvics</title>
    @Styles.Render("~/assets/bootstrap/css/bootstrap.min.css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    @Styles.Render("~/assets/fonts/font-awesome.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    @Styles.Render("~/assets/css/Highlight-Clean.css")
    @Styles.Render("~/assets/css/NMDIGbanner.css")
    @Styles.Render("~/assets/css/Team-Boxed.css")
    @Styles.Render("~/assets/css/styles.css")
    @Styles.Render("~/assets/css/video-background.css")
    @Styles.Render("~/Content/semantic.css")
    @Styles.Render("~/Content/semantic.min.css")
    <style>
        .avatar {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto;
            border-radius: 120px;
            margin-bottom: 30px
        }

        iframe {
            width: 100%;
            height: 338px;
            border: none;
            overflow: hidden;
        }

        .footer {
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #2c3e50;
            color: #fff
        }
    </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Main")"><i class="home icon"></i>Newvics</a>
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                    type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Sports", "Main")">Sports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Footy", "Main")">Footy</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Cricket", "Main")">Cricket</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Basketball", "Main")">Basketball</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Basketball", "Main")">Tennis</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-bottom:0px;margin-top:0px;padding-bottom:0.5%;padding-bottom:0.5%">
        <div class="container">
            <div class="intro">
                <iframe src="https://www.youtube.com/embed/XMZYZcoAcU0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="row people">
                <div class="box">
                    <h2 class="text-center">What is Australian Footy?</h2>
                    <h3 class="description">The game’s objective is to move the ball downfield and kick the ball through the team’s goal. The main way to score points is by kicking the ball between the two tall goal posts. The team with the higher total score at the end of the match wins unless either a draw is declared or a tie-break is used.</h3>
                </div>
            </div>
        </div>
    </section>
    @*<div class="header-blue" style="height:82%">
        <div class="header-blue">*@
    @*<div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1" style="margin-top:75px;margin-left:20px;margin-right:20px;">*@
    @*<h1 style="margin-top:25px;margin-bottom:25px;color:rgb(252,252,252);">Footy, most popular sports!</h1>*@
    @*<p style="color:rgb(255,253,253);margin-bottom:25px;">Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p>*@
    @*<iframe src="https://www.youtube.com/embed/XMZYZcoAcU0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" width="100%" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>*@
    @*<div class="container">
        <div class="row">*@
    @*<div class="ui two column grid">
            <div class="middle aligned row">
                <div class="column">
                    <div class="col-md-6 col-lg-5 offset-lg-1" style="margin-top:75px;margin-left:20px;margin-right:20px;">
                        <iframe src="https://www.youtube.com/embed/VBHHP47VFEg?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" width="100%" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div class="column">
                    <div calss="container text-center">
                        <h2 style="color:rgb(255,253,253)">Australian Football is widely known as Footy</h2>
                        <h4 style="color:rgb(255,253,253);margin-bottom:25px;">The game’s objective is to move the ball downfield and kick the ball through the team’s goal. The main way to score points is by kicking the ball between the two tall goal posts. The team with the higher total score at the end of the match wins unless either a draw is declared or a tie-break is used.</h4>
                    </div>
                </div>
            </div>
        </div>*@
    @*</div>
                </div>
            </div>
        </div>*@


    <div class="highlight-clean" style="background-color:azure">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Do you want to know more about footy?</h2>
            </div>
            <div class="buttons">
                <a class="btn btn-primary" role="button" href="#fteams">Continue</a>
                <a class="btn btn-light" role="button" href="@Url.Action("Sports", "Main")">Go back</a>
            </div>
        </div>
    </div>

    <div id="fteams" class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Top four footy teams</h2>
            </div>
            <div class="row people">
                <div class="col-md-3 col-lg-3 item">
                    <div class="box">
                        <img class="rounded-circle" src="~/assets/img/team2.jpg">
                        <h3 class="header">Carlton Blues</h3>
                        <p class="title">Team1</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 item">
                    <div class="box">
                        <img class="rounded-circle" src="~/assets/img/team1.jpg">
                        <h3 class="header">Collingwood Magpies</h3>
                        <p class="title">Team2</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 item">
                    <div class="box">
                        <img class="rounded-circle" src="~/assets/img/team4.jpg">
                        <h3 class="header">Hawthorn Hawks</h3>
                        <p class="title">Team3</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 item">
                    <div class="box">
                        <img class="rounded-circle" src="~/assets/img/team3.jpg">
                        <h3 class="header">Geelong Cats</h3>
                        <p class="title">Team4</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="highlight-clean" style="padding-top:2%;padding-bottom:0px;margin-bottom:0px">
        <div class="container">
            <div class="intro">
                <div>
                    <h2 class="text-center">Do you want to know which team you might be with?</h2>
                </div>
                <div class="buttons"><a class="btn btn-primary" role="button" href="#">Do quiz</a></div>
            </div>
        </div>
    </div>

    <div id="part1" class="team-boxed" style="background-color:lavenderblush">
        <div class="container">
            <div class="intro" style="margin-bottom:2%">
                <h2 class="text-center">How to play footy?</h2>
            </div>
            <div class="card" style="margin-bottom:2%">
                <div class="card-header">
                    <ul class="nav center nav-tabs card-header-tabs">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Footy", "Main")#part1"><h1>Basic skill</h1></a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Footy2", "Main")#part1"><h1>Team skill</h1></a></li>
                        <li class="nav-item"><a class="nav-link active" href="#"><h1>Watch the Professionals</h1></a></li>
                    </ul>
                </div>
                <div id="c1" class="card-body">
                    <div class="projects-horizontal">
                        <div class="container">
                            <div class="row projects">
                                <div class="col-md-12 item" style="margin-top:1%;margin-bottom:1%">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-5">
                                            <img class="img-fluid" src="https://media.giphy.com/media/ZyupSLf6OI34PjVNh3/giphy.gif">
                                        </div>
                                        <div class="col">
                                            <h3>Kicking</h3>
                                            <p class="description">Line up your body with your target.Have your head slightly bent over the ball.Hold the ball over the thigh of the kicking leg.Guide the ball down with one hand.Point your toes at your target – see the ball hit the foot. Follow through straight towards the target.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section style="padding-top:1%;padding-bottom:1%">
        <div class="highlight-clean container" style="padding-bottom:1%">
            <div class="ui two column stackable center aligned grid">
                <div class="middle aligned row">
                    <div class="column">
                        <div class="container text-center">
                            <h2 class="text-center">
                                Get your location and show nearest footy places from you.
                            </h2>
                            <input type="submit" value="Get Places" class="btn btn-primary" onclick="search_position_and_address()">
                        </div>
                    </div>
                    <div class="column">
                        <div class="intro">
                            <div class="container text-center">
                                <h2 class="text-center">
                                    Select suburb and see places.
                                </h2>
                                <div class="text-center" style="padding-bottom:2%;margin-bottom:2%">
                                    <select class="ui search selection dropdown" id="select1" name="suburb">
                                        <option value="Abbotsford">Abbotsford</option>
                                        <option value="Aberfeldie">Aberfeldie</option>
                                        <option value="Airport West">Airport West</option>
                                        <option value="Albanvale">Albanvale</option>
                                        <option value="Albert Park">Albert Park</option>
                                        <option value="Albion">Albion</option>
                                        <option value="Alphington">Alphington</option>
                                        <option value="Altona Meadows">Altona Meadows</option>
                                        <option value="Altona North">Altona North</option>
                                        <option value="Altona">Altona</option>
                                        <option value="Ardeer">Ardeer</option>
                                        <option value="Armadale">Armadale</option>
                                        <option value="Arthurs Seat">Arthurs Seat</option>
                                        <option value="Ascot Vale">Ascot Vale</option>
                                        <option value="Ashburton">Ashburton</option>
                                        <option value="Ashwood">Ashwood</option>
                                        <option value="Aspendale">Aspendale</option>
                                        <option value="Aspendale Gardens">Aspendale Gardens</option>
                                        <option value="Attwood">Attwood</option>
                                        <option value="Auburn">Auburn</option>
                                        <option value="Aurora">Aurora</option>
                                        <option value="Avondale Heights">Avondale Heights</option>
                                        <option value="Avonsleigh">Avonsleigh</option>
                                        <option value="Balaclava">Balaclava</option>
                                        <option value="Balwyn">Balwyn</option>
                                        <option value="Balwyn North">Balwyn North</option>
                                        <option value="Bangholme">Bangholme</option>
                                        <option value="Baxter">Baxter</option>
                                        <option value="Bayswater">Bayswater</option>
                                        <option value="Bayswater North">Bayswater North</option>
                                        <option value="Beaconsfield">Beaconsfield</option>
                                        <option value="Beaumaris">Beaumaris</option>
                                        <option value="Belgrave">Belgrave</option>
                                        <option value="Belgrave Heights">Belgrave Heights</option>
                                        <option value="Belgrave South">Belgrave South</option>
                                        <option value="Bellfield">Bellfield</option>
                                        <option value="Bennettswood">Bennettswood</option>
                                        <option value="Bentleigh">Bentleigh</option>
                                        <option value="Bentleigh East">Bentleigh East</option>
                                        <option value="Berwick">Berwick</option>
                                        <option value="Bittern">Bittern</option>
                                        <option value="Black Rock">Black Rock</option>
                                        <option value="Blackburn">Blackburn</option>
                                        <option value="Blackburn North">Blackburn North</option>
                                        <option value="Blackburn South">Blackburn South</option>
                                        <option value="Blairgowrie">Blairgowrie</option>
                                        <option value="Bonbeach">Bonbeach</option>
                                        <option value="Boronia">Boronia</option>
                                        <option value="Box Hill">Box Hill</option>
                                        <option value="Box Hill North">Box Hill North</option>
                                        <option value="Box Hill South">Box Hill South</option>
                                        <option value="Braeside">Braeside</option>
                                        <option value="Braybrook">Braybrook</option>
                                        <option value="Briar Hill">Briar Hill</option>
                                        <option value="Brighton">Brighton</option>
                                        <option value="Brighton East">Brighton East</option>
                                        <option value="Broadmeadows">Broadmeadows</option>
                                        <option value="Brookfield">Brookfield</option>
                                        <option value="Brooklyn">Brooklyn</option>
                                        <option value="Brunswick">Brunswick</option>
                                        <option value="Brunswick East">Brunswick East</option>
                                        <option value="Brunswick West">Brunswick West</option>
                                        <option value="Bulla">Bulla</option>
                                        <option value="Bulleen">Bulleen</option>
                                        <option value="Bundoora">Bundoora</option>
                                        <option value="Burnley">Burnley</option>
                                        <option value="Burnside">Burnside</option>
                                        <option value="Burnside Heights">Burnside Heights</option>
                                        <option value="Burwood">Burwood</option>
                                        <option value="Burwood East">Burwood East</option>
                                        <option value="Cairnlea">Cairnlea</option>
                                        <option value="Calder Park">Calder Park</option>
                                        <option value="Camberwell">Camberwell</option>
                                        <option value="Campbellfield">Campbellfield</option>
                                        <option value="Canterbury">Canterbury</option>
                                        <option value="Carlton North">Carlton North</option>
                                        <option value="Carlton">Carlton</option>
                                        <option value="Carnegie">Carnegie</option>
                                        <option value="Caroline Springs">Caroline Springs</option>
                                        <option value="Carrum">Carrum</option>
                                        <option value="Carrum Downs">Carrum Downs</option>
                                        <option value="Caulfield">Caulfield</option>
                                        <option value="Caulfield East">Caulfield East</option>
                                        <option value="Caulfield North">Caulfield North</option>
                                        <option value="Caulfield South">Caulfield South</option>
                                        <option value="Chadstone">Chadstone</option>
                                        <option value="Chelsea">Chelsea</option>
                                        <option value="Chelsea Heights">Chelsea Heights</option>
                                        <option value="Cheltenham">Cheltenham</option>
                                        <option value="Chirnside Park">Chirnside Park</option>
                                        <option value="Clarinda">Clarinda</option>
                                        <option value="Clayton">Clayton</option>
                                        <option value="Clayton South">Clayton South</option>
                                        <option value="Clematis">Clematis</option>
                                        <option value="Clifton Hill">Clifton Hill</option>
                                        <option value="Coburg">Coburg</option>
                                        <option value="Coburg North">Coburg North</option>
                                        <option value="Cocoroc">Cocoroc</option>
                                        <option value="Coldstream">Coldstream</option>
                                        <option value="Collingwood">Collingwood</option>
                                        <option value="Coolaroo">Coolaroo</option>
                                        <option value="Craigieburn">Craigieburn</option>
                                        <option value="Cranbourne">Cranbourne</option>
                                        <option value="Cranbourne East">Cranbourne East</option>
                                        <option value="Cranbourne North">Cranbourne North</option>
                                        <option value="Cranbourne South">Cranbourne South</option>
                                        <option value="Cranbourne West">Cranbourne West</option>
                                        <option value="Cremorne">Cremorne</option>
                                        <option value="Crib Point">Crib Point</option>
                                        <option value="Croydon">Croydon</option>
                                        <option value="Croydon Hills">Croydon Hills</option>
                                        <option value="Croydon North">Croydon North</option>
                                        <option value="Croydon South">Croydon South</option>
                                        <option value="Dallas">Dallas</option>
                                        <option value="Dandenong">Dandenong</option>
                                        <option value="Dandenong North">Dandenong North</option>
                                        <option value="Dandenong South">Dandenong South</option>
                                        <option value="Deer Park">Deer Park</option>
                                        <option value="Delahey">Delahey</option>
                                        <option value="Derrimut">Derrimut</option>
                                        <option value="Diamond Creek">Diamond Creek</option>
                                        <option value="Dingley Village">Dingley Village</option>
                                        <option value="Docklands">Docklands</option>
                                        <option value="Doncaster">Doncaster</option>
                                        <option value="Doncaster East">Doncaster East</option>
                                        <option value="Donvale">Donvale</option>
                                        <option value="Doreen">Doreen</option>
                                        <option value="Doveton">Doveton</option>
                                        <option value="Dromana">Dromana</option>
                                        <option value="Eaglemont">Eaglemont</option>
                                        <option value="East Melbourne">East Melbourne</option>
                                        <option value="Edithvale">Edithvale</option>
                                        <option value="Elsternwick">Elsternwick</option>
                                        <option value="Eltham">Eltham</option>
                                        <option value="Eltham North">Eltham North</option>
                                        <option value="Elwood">Elwood</option>
                                        <option value="Emerald">Emerald</option>
                                        <option value="Endeavour Hills">Endeavour Hills</option>
                                        <option value="Epping">Epping</option>
                                        <option value="Essendon Fields">Essendon Fields</option>
                                        <option value="Essendon North">Essendon North</option>
                                        <option value="Essendon West">Essendon West</option>
                                        <option value="Essendon">Essendon</option>
                                        <option value="Eumemmerring">Eumemmerring</option>
                                        <option value="Fairfield">Fairfield</option>
                                        <option value="Fawkner">Fawkner</option>
                                        <option value="Ferntree Gully">Ferntree Gully</option>
                                        <option value="Ferny Creek">Ferny Creek</option>
                                        <option value="Fitzroy">Fitzroy</option>
                                        <option value="Fitzroy North">Fitzroy North</option>
                                        <option value="Flemington">Flemington</option>
                                        <option value="Footscray">Footscray</option>
                                        <option value="Forest Hill">Forest Hill</option>
                                        <option value="Frankston">Frankston</option>
                                        <option value="Frankston North">Frankston North</option>
                                        <option value="Frankston South">Frankston South</option>
                                        <option value="Gardenvale">Gardenvale</option>
                                        <option value="Gladstone Park">Gladstone Park</option>
                                        <option value="Glen Huntly">Glen Huntly</option>
                                        <option value="Glen Iris">Glen Iris</option>
                                        <option value="Glen Waverley">Glen Waverley</option>
                                        <option value="Glenroy">Glenroy</option>
                                        <option value="Gowanbrae">Gowanbrae</option>
                                        <option value="Greensborough">Greensborough</option>
                                        <option value="Greenvale Lakes">Greenvale Lakes</option>
                                        <option value="Greenvale">Greenvale</option>
                                        <option value="Guys Hill">Guys Hill</option>
                                        <option value="Hadfield">Hadfield</option>
                                        <option value="Hallam">Hallam</option>
                                        <option value="Hampton">Hampton</option>
                                        <option value="Hampton East">Hampton East</option>
                                        <option value="Hampton Park">Hampton Park</option>
                                        <option value="Harkaway">Harkaway</option>
                                        <option value="Hawthorn">Hawthorn</option>
                                        <option value="Hawthorn East">Hawthorn East</option>
                                        <option value="Heatherdale">Heatherdale</option>
                                        <option value="Heatherton">Heatherton</option>
                                        <option value="Heathmont">Heathmont</option>
                                        <option value="Heidelberg">Heidelberg</option>
                                        <option value="Heidelberg Heights">Heidelberg Heights</option>
                                        <option value="Heidelberg West">Heidelberg West</option>
                                        <option value="Highett">Highett</option>
                                        <option value="Hillside">Hillside</option>
                                        <option value="Hoppers Crossing">Hoppers Crossing</option>
                                        <option value="Houston">Houston</option>
                                        <option value="Hughesdale">Hughesdale</option>
                                        <option value="Huntingdale">Huntingdale</option>
                                        <option value="Hurstbridge">Hurstbridge</option>
                                        <option value="Ivanhoe">Ivanhoe</option>
                                        <option value="Ivanhoe East">Ivanhoe East</option>
                                        <option value="Jacana">Jacana</option>
                                        <option value="Junction Village">Junction Village</option>
                                        <option value="Kallista">Kallista</option>
                                        <option value="Kalorama">Kalorama</option>
                                        <option value="Karingal">Karingal</option>
                                        <option value="Kealba">Kealba</option>
                                        <option value="Keilor">Keilor</option>
                                        <option value="Keilor Downs">Keilor Downs</option>
                                        <option value="Keilor East">Keilor East</option>
                                        <option value="Keilor Lodge">Keilor Lodge</option>
                                        <option value="Keilor North">Keilor North</option>
                                        <option value="Keilor Park">Keilor Park</option>
                                        <option value="Kensington">Kensington</option>
                                        <option value="Kerrimuir">Kerrimuir</option>
                                        <option value="Kew">Kew</option>
                                        <option value="Kew East">Kew East</option>
                                        <option value="Keysborough">Keysborough</option>
                                        <option value="Kilsyth">Kilsyth</option>
                                        <option value="Kilsyth South">Kilsyth South</option>
                                        <option value="Kings Park">Kings Park</option>
                                        <option value="Kingsbury">Kingsbury</option>
                                        <option value="Kingsville">Kingsville</option>
                                        <option value="Knoxfield">Knoxfield</option>
                                        <option value="Kooyong">Kooyong</option>
                                        <option value="Kurunjang">Kurunjang</option>
                                        <option value="Laburnum">Laburnum</option>
                                        <option value="Lalor">Lalor</option>
                                        <option value="Langwarrin">Langwarrin</option>
                                        <option value="Langwarrin South">Langwarrin South</option>
                                        <option value="Laverton">Laverton</option>
                                        <option value="Laverton North">Laverton North</option>
                                        <option value="Lilydale">Lilydale</option>
                                        <option value="Lower Plenty">Lower Plenty</option>
                                        <option value="Lynbrook">Lynbrook</option>
                                        <option value="Lyndhurst">Lyndhurst</option>
                                        <option value="Lysterfield">Lysterfield</option>
                                        <option value="Lysterfield South">Lysterfield South</option>
                                        <option value="Macclesfield">Macclesfield</option>
                                        <option value="McCrae">McCrae</option>
                                        <option value="McKinnon">McKinnon</option>
                                        <option value="Macleod">Macleod</option>
                                        <option value="Maidstone">Maidstone</option>
                                        <option value="Malvern">Malvern</option>
                                        <option value="Malvern East">Malvern East</option>
                                        <option value="Maribyrnong">Maribyrnong</option>
                                        <option value="Meadow Heights">Meadow Heights</option>
                                        <option value="Melbourne Airport">Melbourne Airport</option>
                                        <option value="Melton (suburb)">Melton (suburb)</option>
                                        <option value="Melton South">Melton South</option>
                                        <option value="Melton West">Melton West</option>
                                        <option value="Mentone">Mentone</option>
                                        <option value="Menzies Creek">Menzies Creek</option>
                                        <option value="Mernda">Mernda</option>
                                        <option value="Mickleham">Mickleham</option>
                                        <option value="Middle Park">Middle Park</option>
                                        <option value="Milgate Park Estate">Milgate Park Estate</option>
                                        <option value="Mill Park">Mill Park</option>
                                        <option value="Mitcham">Mitcham</option>
                                        <option value="Monbulk">Monbulk</option>
                                        <option value="Mont Albert">Mont Albert</option>
                                        <option value="Mont Albert North">Mont Albert North</option>
                                        <option value="Montmorency">Montmorency</option>
                                        <option value="Montrose">Montrose</option>
                                        <option value="Moonee Ponds">Moonee Ponds</option>
                                        <option value="Moorabbin Airport">Moorabbin Airport</option>
                                        <option value="Moorabbin">Moorabbin</option>
                                        <option value="Moorooduc">Moorooduc</option>
                                        <option value="Mooroolbark">Mooroolbark</option>
                                        <option value="Mordialloc">Mordialloc</option>
                                        <option value="Mornington">Mornington</option>
                                        <option value="Mount Dandenong">Mount Dandenong</option>
                                        <option value="Mount Eliza">Mount Eliza</option>
                                        <option value="Mount Evelyn">Mount Evelyn</option>
                                        <option value="Mount Martha">Mount Martha</option>
                                        <option value="Mount Waverley">Mount Waverley</option>
                                        <option value="Mulgrave">Mulgrave</option>
                                        <option value="Narre Warren East">Narre Warren East</option>
                                        <option value="Narre Warren North">Narre Warren North</option>
                                        <option value="Narre Warren South">Narre Warren South</option>
                                        <option value="Narre Warren">Narre Warren</option>
                                        <option value="Newport">Newport</option>
                                        <option value="Niddrie">Niddrie</option>
                                        <option value="Noble Park">Noble Park</option>
                                        <option value="Noble Park North">Noble Park North</option>
                                        <option value="North Melbourne">North Melbourne</option>
                                        <option value="North Richmond">North Richmond</option>
                                        <option value="North Warrandyte">North Warrandyte</option>
                                        <option value="Northcote">Northcote</option>
                                        <option value="Norwood">Norwood</option>
                                        <option value="Notting Hill">Notting Hill</option>
                                        <option value="Nunawading">Nunawading</option>
                                        <option value="Oak Park">Oak Park</option>
                                        <option value="Oaklands Junction">Oaklands Junction</option>
                                        <option value="Oakleigh">Oakleigh</option>
                                        <option value="Oakleigh East">Oakleigh East</option>
                                        <option value="Oakleigh South">Oakleigh South</option>
                                        <option value="Olinda">Olinda</option>
                                        <option value="Olivers Hill">Olivers Hill</option>
                                        <option value="Ormond">Ormond</option>
                                        <option value="Pakenham">Pakenham</option>
                                        <option value="Panton Hill">Panton Hill</option>
                                        <option value="Park Orchards">Park Orchards</option>
                                        <option value="Parkdale">Parkdale</option>
                                        <option value="Parkville">Parkville</option>
                                        <option value="Pascoe Vale South">Pascoe Vale South</option>
                                        <option value="Pascoe Vale">Pascoe Vale</option>
                                        <option value="The Patch">The Patch</option>
                                        <option value="Patterson Lakes">Patterson Lakes</option>
                                        <option value="Pennydale">Pennydale</option>
                                        <option value="Plenty">Plenty</option>
                                        <option value="Point Cook">Point Cook</option>
                                        <option value="Port Melbourne">Port Melbourne</option>
                                        <option value="Portsea">Portsea</option>
                                        <option value="Prahran">Prahran</option>
                                        <option value="Preston">Preston</option>
                                        <option value="Princes Hill">Princes Hill</option>
                                        <option value="Ravenhall">Ravenhall</option>
                                        <option value="Research">Research</option>
                                        <option value="Reservoir">Reservoir</option>
                                        <option value="Richmond">Richmond</option>
                                        <option value="Ringwood">Ringwood</option>
                                        <option value="Ringwood East">Ringwood East</option>
                                        <option value="Ringwood North">Ringwood North</option>
                                        <option value="Ripponlea">Ripponlea</option>
                                        <option value="Rockbank">Rockbank</option>
                                        <option value="Rosanna">Rosanna</option>
                                        <option value="Rosebud">Rosebud</option>
                                        <option value="Rosebud West">Rosebud West</option>
                                        <option value="Rowville">Rowville</option>
                                        <option value="Roxburgh Park">Roxburgh Park</option>
                                        <option value="Rye">Rye</option>
                                        <option value="Safety Beach">Safety Beach</option>
                                        <option value="St Albans">St Albans</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kilda">St Kilda</option>
                                        <option value="St Kilda East">St Kilda East</option>
                                        <option value="St Kilda West">St Kilda West</option>
                                        <option value="Sandhurst">Sandhurst</option>
                                        <option value="Sandringham">Sandringham</option>
                                        <option value="Sassafras">Sassafras</option>
                                        <option value="Scoresby">Scoresby</option>
                                        <option value="Seabrook">Seabrook</option>
                                        <option value="Seaford">Seaford</option>
                                        <option value="Seaholme">Seaholme</option>
                                        <option value="Seddon">Seddon</option>
                                        <option value="Selby">Selby</option>
                                        <option value="Seville">Seville</option>
                                        <option value="Sherbrooke">Sherbrooke</option>
                                        <option value="Skye">Skye</option>
                                        <option value="Somerton">Somerton</option>
                                        <option value="Sorrento">Sorrento</option>
                                        <option value="South Kingsville">South Kingsville</option>
                                        <option value="South Melbourne">South Melbourne</option>
                                        <option value="South Morang">South Morang</option>
                                        <option value="South Wharf">South Wharf</option>
                                        <option value="South Yarra">South Yarra</option>
                                        <option value="Southbank">Southbank</option>
                                        <option value="Spotswood">Spotswood</option>
                                        <option value="Springvale">Springvale</option>
                                        <option value="Springvale South">Springvale South</option>
                                        <option value="Strathmore">Strathmore</option>
                                        <option value="Strathmore Heights">Strathmore Heights</option>
                                        <option value="Sunbury">Sunbury</option>
                                        <option value="Sunshine">Sunshine</option>
                                        <option value="Sunshine North">Sunshine North</option>
                                        <option value="Sunshine West">Sunshine West</option>
                                        <option value="Surrey Hills">Surrey Hills</option>
                                        <option value="Sydenham">Sydenham</option>
                                        <option value="Syndal">Syndal</option>
                                        <option value="Tally Ho">Tally Ho</option>
                                        <option value="Tarneit">Tarneit</option>
                                        <option value="Taylors Hill">Taylors Hill</option>
                                        <option value="Taylors Lakes">Taylors Lakes</option>
                                        <option value="Tecoma">Tecoma</option>
                                        <option value="Templestowe">Templestowe</option>
                                        <option value="Templestowe Lower">Templestowe Lower</option>
                                        <option value="The Basin">The Basin</option>
                                        <option value="Thomastown">Thomastown</option>
                                        <option value="Thornbury">Thornbury</option>
                                        <option value="Toorak">Toorak</option>
                                        <option value="Tootgarook">Tootgarook</option>
                                        <option value="Tottenham">Tottenham</option>
                                        <option value="Travancore">Travancore</option>
                                        <option value="Tremont">Tremont</option>
                                        <option value="Truganina">Truganina</option>
                                        <option value="Tullamarine">Tullamarine</option>
                                        <option value="Upfield">Upfield</option>
                                        <option value="Upper Ferntree Gully">Upper Ferntree Gully</option>
                                        <option value="Upwey">Upwey</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Vermont South">Vermont South</option>
                                        <option value="Viewbank">Viewbank</option>
                                        <option value="Wantirna">Wantirna</option>
                                        <option value="Wantirna South">Wantirna South</option>
                                        <option value="Warrandyte">Warrandyte</option>
                                        <option value="Warrandyte South">Warrandyte South</option>
                                        <option value="Warranwood">Warranwood</option>
                                        <option value="Waterways">Waterways</option>
                                        <option value="Watsonia">Watsonia</option>
                                        <option value="Watsonia North">Watsonia North</option>
                                        <option value="Wattle Glen">Wattle Glen</option>
                                        <option value="Waverley Park">Waverley Park</option>
                                        <option value="Werribee">Werribee</option>
                                        <option value="Werribee South">Werribee South</option>
                                        <option value="West Footscray">West Footscray</option>
                                        <option value="West Melbourne">West Melbourne</option>
                                        <option value="Westgarth">Westgarth</option>
                                        <option value="Westmeadows">Westmeadows</option>
                                        <option value="Wheelers Hill">Wheelers Hill</option>
                                        <option value="Wildwood">Wildwood</option>
                                        <option value="Williams Landing">Williams Landing</option>
                                        <option value="Williamstown">Williamstown</option>
                                        <option value="Williamstown North">Williamstown North</option>
                                        <option value="Windsor">Windsor</option>
                                        <option value="Wonga Park">Wonga Park</option>
                                        <option value="Wyndham Vale">Wyndham Vale</option>
                                        <option value="Yallambie">Yallambie</option>
                                        <option value="Yarrambat">Yarrambat</option>
                                        <option value="Yarraville">Yarraville</option>
                                        <option value="Yuroke">Yuroke</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="text-center">
                                        <input type="submit" value="Get Places" class="btn btn-primary" onclick="GetSuburbData()">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro" style="display:none">
            <div class="container text-center form-group">
                <input id="l1" class="form-control" placeholder="latitude" name="searchString">
                <input id="l2" class="form-control" placeholder="longitude" name="searchString1">
                <input id="Address" class="form-control" placeholder="Address" name="adress">
                <div id="TextBoxCustomerName"></div>
                <div id="TextBoxCustomerAddress"></div>
            </div>
        </div>

        <div id="root" style="padding-top:60px">

        </div>

    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>Monash University<br>Caulfield East, Vic 3145</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Us</h4>
                    <p class="lead mb-0"><span>DVoyagers.&nbsp;</span></p>
                </div>
            </div>
        </div>
        <p>&copy; @DateTime.Now.Year - Newvics</p>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrX2JUBuXyOQ7P8p8Q_SLJ3GTX5m1eRPs"></script>
    <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
    <script type="text/javascript">
        gapi.load('auth2', function () {
            // Library loaded.
        });
    </script>
    <script type="text/javascript">
        // this function is triggered when geolocation has found coordinates
        function geolocationReturnedCoordinates(coordinates) {
            //document.getElementById('log').innerHTML =
            //    'lat: ' + coordinates.coords.latitude +
            //    '<br>lng: ' + coordinates.coords.longitude +
            //    '<br>accuracy: ' + coordinates.coords.accuracy;
            // Here would be a good place to call Reverse geocoding, since you have the coordinates here.
            document.getElementById('l1').value = coordinates.coords.latitude;
            document.getElementById('l2').value = coordinates.coords.longitude;
            GeoCode(new google.maps.LatLng(coordinates.coords.latitude, coordinates.coords.longitude));
            var url1 = 'https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='
            var url2 = '&radius=1500&type=point_of_interest&keyword=football&key=AIzaSyCrX2JUBuXyOQ7P8p8Q_SLJ3GTX5m1eRPs'
            var l1 = coordinates.coords.latitude
            var l2 = coordinates.coords.longitude
            var url = url1 + l1 + ',' + l2 + url2
            GetData(url)
        }

        // geocoder
        geocoder = new google.maps.Geocoder();
        function GeoCode(latlng) {
            // This is making the Geocode request
            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var address = (results[0].formatted_address);
                    //This is placing the returned address in the 'Address' field on the HTML form
                    document.getElementById('Address').value = results[0].formatted_address;
                }
            });
        }

        function search_position_and_address() {
            // we start the request, to ask the position of the client
            // we will pass geolocationReturnedCoordinates as the success callback
            navigator.geolocation.getCurrentPosition(geolocationReturnedCoordinates, null, null);
        }

        function GetData(url) {
            const root = document.getElementById('root')

            while (root.hasChildNodes()) //delete all child nodes of app
            {
                root.removeChild(root.firstChild);
            }

            const app = document.createElement('div')
            app.setAttribute('class', 'team-boxed')
            root.appendChild(app)

            const container = document.createElement('div')
            container.setAttribute('class', 'container')
            app.appendChild(container)

            const intro = document.createElement('div')
            intro.setAttribute('class', 'intro')
            container.appendChild(intro)

            const row = document.createElement('div')
            row.setAttribute('class', 'row people')
            container.appendChild(row)

            const h2 = document.createElement('h2')
            h2.setAttribute('class', 'text-center')
            h2.textContent = `Footy clubs near you`
            intro.appendChild(h2)

            var request = new XMLHttpRequest()

            //request.open('GET', 'https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-37.881998,145.043836&radius=1500&type=point_of_interest&keyword=football&key=AIzaSyCrX2JUBuXyOQ7P8p8Q_SLJ3GTX5m1eRPs', true)
            request.open('GET', url, true)

            //request.withCredentials = true;

            request.onload = function () {
                // Begin accessing JSON data here
                var data = JSON.parse(this.response)["results"]
                if (request.status >= 200 && request.status < 400) {
                    data.forEach(place => {
                        //const card = document.createElement('div')
                        //card.setAttribute('class', 'card')

                        //const h1 = document.createElement('h1')
                        //h1.textContent = place.name

                        //const p = document.createElement('p')
                        //p.textContent = `${place.plus_code.compound_code}...`

                        //container.appendChild(card)
                        //card.appendChild(h1)
                        //card.appendChild(p)
                        const card = document.createElement('div')
                        card.setAttribute('class', 'col-md-3 col-lg-3 item')
                        row.appendChild(card)

                        const box = document.createElement('div')
                        box.setAttribute('class', 'box')
                        card.appendChild(box)

                        const a = document.createElement('a')

                        var lat = place.geometry.location.lat
                        var lng = place.geometry.location.lng
                        var url1 = 'https://maps.google.com/?ll='
                        var url = url1 + lat + ',' + lng

                        a.setAttribute('href', url)
                        a.setAttribute('target', '_blank')
                        box.appendChild(a)

                        const h3 = document.createElement('h3')
                        h3.setAttribute('class', 'header')
                        h3.textContent = place.name

                        a.appendChild(h3)

                    })
                } else {
                    const errorMessage = document.createElement('marquee')
                    errorMessage.textContent = `Gah, it's not working!`
                    app.appendChild(errorMessage)
                }
            }

            request.send()
        }

        function GetSuburbData() {
            var dd = document.getElementById("select1");
            var selectedItem = dd.options[dd.selectedIndex].value;

            const root = document.getElementById('root')

            while (root.hasChildNodes()) //delete all child nodes of app
            {
                root.removeChild(root.firstChild);
            }

            const app = document.createElement('div')
            app.setAttribute('class', 'team-boxed')
            root.appendChild(app)

            const container = document.createElement('div')
            container.setAttribute('class', 'container')
            app.appendChild(container)

            const intro = document.createElement('div')
            intro.setAttribute('class', 'intro')
            container.appendChild(intro)

            const row = document.createElement('div')
            row.setAttribute('class', 'row people')
            container.appendChild(row)

            const h2 = document.createElement('h2')
            h2.setAttribute('class', 'text-center')
            h2.textContent = `Footy clubs`
            intro.appendChild(h2)

            var request = new XMLHttpRequest()
            var suburb = ''

            if (selectedItem != null) {
                suburb = selectedItem + ' melbourne'
                suburb = suburb.replace('', '+')

                var url1 = 'https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/textsearch/json?query=footy+near+'
                var url2 = '&key=AIzaSyD9LUlNJjOHpdMmBFzYkLpuC91VlO5McLg'
                var url = url1 + suburb + url2
                request.open('GET', url, true)

                //request.withCredentials = true;

                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)["results"]
                    if (data != null) {
                        if (request.status >= 200 && request.status < 400) {
                            data.forEach(place => {
                                const card = document.createElement('div')
                                card.setAttribute('class', 'col-md-3 col-lg-3 item')
                                row.appendChild(card)

                                const box = document.createElement('div')
                                box.setAttribute('class', 'box')
                                card.appendChild(box)

                                const a = document.createElement('a')
                                var address = place.formatted_address
                                var url1 = 'https://maps.google.com/?q='
                                var url = url1 + place.name + ',' + address

                                a.setAttribute('href', url)
                                a.setAttribute('target', '_blank')
                                box.appendChild(a)

                                const h4 = document.createElement('h4')
                                var text = 'Address:' + address
                                h4.textContent = text
                                box.appendChild(h4)

                                const h3 = document.createElement('h3')
                                h3.setAttribute('class', 'header')
                                h3.textContent = place.name

                                a.appendChild(h3)

                            })
                        } else {
                            const errorMessage = document.createElement('marquee')
                            errorMessage.textContent = `Gah, it's not working!`
                            app.appendChild(errorMessage)
                        }
                    } else {
                        const errorMessage = document.createElement('marquee')
                        errorMessage.textContent = `Sorry, there is club in this suburb!`
                        app.appendChild(errorMessage)
                    }

                }

                request.send()
            }
            else {
                const errorMessage = document.createElement('marquee')
                errorMessage.textContent = `Please select suburb!`
                app.appendChild(errorMessage)
            }
        }
    </script>


    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/bootstrap/js/bootstrap.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    @Scripts.Render("~/assets/js/bs-animation.js")
    @*@Scripts.Render("~/resource/js/agency.js")*@
    @*@Scripts.Render("~/Scripts/semantic.js")
        @Scripts.Render("~/Scripts/semantic.min.js")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>
</html>