<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sports-Newvics</title>
    @Styles.Render("~/assets/bootstrap/css/bootstrap.min.css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    @Styles.Render("~/assets/fonts/font-awesome.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    @Styles.Render("~/assets/css/Simple-Slider.css")
    @Styles.Render("~/assets/css/styles.css")
    <link rel="stylesheet" href="https://github.hubspot.com/odometer/themes/odometer-theme-car.css" />
    @Styles.Render("~/Content/semantic.css")
    @Styles.Render("~/Content/semantic.min.css")

    <style>
        .odometer {
            font-size: larger;
        }

        .footer {
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #2c3e50;
            color: #fff
        }

        .avatar {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto;
            border-radius: 120px;
            margin-bottom: 30px
        }
    </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Main")"><i class="home icon"></i>Newvics</a>
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                    type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Sports", "Main")">Sports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Footy", "Main")">Footy</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Footy", "Main")">Cricket</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Basketball", "Main")">Basketball</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="@Url.Action("Basketball", "Main")">Tennis</a></li>
                    @*<li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('../assets/img/slider3.jpg');"></div>
                <div class="swiper-slide" style="background-image:url('../assets/img/slider3.jpg');"></div>
                <div class="swiper-slide" style="background-image:url('../assets/img/slider3.jpg');"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <section style="padding-bottom:5%;padding-top:5%;background-color:aliceblue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sports in Victoria</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        @*<i class="fa fa-diamond fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>*@
                        <h2 id="odometer1" class="odometer">111</h2>
                        <p class="text-muted mb-0">Teenagers choose: </p>
                        <h3 class="mb-3">Footy</h3>


                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        @*<i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>*@
                        <h2 id="odometer2" class="odometer">111</h2>
                        <p class="text-muted mb-0">Teenagers choose: </p>
                        <h3 class="mb-3">Cricket</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        @*<i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>*@
                        <h2 id="odometer3" class="odometer">111</h2>
                        <p class="text-muted mb-0">Teenagers choose: </p>
                        <h3 class="mb-3">Basketball</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        @*<i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>*@
                        <h2 id="odometer4" class="odometer">111</h2>
                        <p class="text-muted mb-0">Teenagers choose: </p>
                        <h3 class="mb-3">Tennis</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" style="padding-bottom:5%;padding-top:5%">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose sports</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div style="margin-left:20%;margin-right:20%">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-sm-6 col-lg-6">
                    <a class="portfolio-box" href="@Url.Action("Footy", "Main")">
                        <img class="img-fluid" src="../assets/img/thumbnails/footy.jpg">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <h2>Footy</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <a class="portfolio-box" href="@Url.Action("Footy", "Main")">
                        <img class="img-fluid" src="../assets/img/thumbnails/craket.jpg">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <h2>Outdoor criket</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-6"><a class="portfolio-box" href="@Url.Action("Footy", "Main")"><img class="img-fluid" src="../assets/img/thumbnails/basketball.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><h2>Basketball</h2></div></div></div></a></div>
                <div class="col-sm-6 col-lg-6"><a class="portfolio-box" href="@Url.Action("Footy", "Main")"><img class="img-fluid" src="../assets/img/thumbnails/tennis.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><h2>Tennis</h2></div></div></div></a></div>
                @*<div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../assets/img/fullsize/5.jpg"><img class="img-fluid" src="../assets/img/thumbnails/5.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="../assets/img/fullsize/6.jpg"><img class="img-fluid" src="../assets/img/thumbnails/6.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>*@
            </div>
        </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>Monash University<br>Caulfield East, Vic 3145</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" @*href="#"*@><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Us</h4>
                    <p class="lead mb-0"><span>DVoyagers.&nbsp;</span></p>
                </div>
            </div>
        </div>
        <p>&copy; @DateTime.Now.Year - Newvics</p>
    </footer>
    <script>
        setTimeout(function () {
            odometer1.innerHTML = 182852;
            odometer2.innerHTML = 109822;
            odometer3.innerHTML = 21844;
            odometer4.innerHTML = 8771;
        }, 1000);
    </script>
    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/bootstrap/js/bootstrap.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    @Scripts.Render("~/assets/js/creative.js")
    @Scripts.Render("~/assets/js/bs-animation.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    @Scripts.Render("~/assets/js/Simple-Slider.js")
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
</body>
</html>